<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-12 text-center">
                    <h2 class="section-heading">About TTLAB</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">We are a group of passionate individuals with backgrounds across the STEM disciplines- in Computer Science, Natural Sciences, Engineering & Mathematics. We use Data Science, Artificial Intelligence, Machine Learning and other high-tech solutions for various applications. The Director of TTLAB is Professor Patrick Hosein: an alum of Massachusetts Institute of Technology (MIT) and now Professor of Computer Science at the University of the West Indies, St. Augustine. He's quite cool, so you can learn more about him on the TTLAB website.</p>
                </div>
            </div>
        </div>
    </section>
